.loginWrapper {
  width: 100vw;
  height: 100vh;
  .login {
    > .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 45%;
        margin-top: 50px;
      }
    }
    .formWrapper {
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      input{
        &:nth-child(1),&:nth-child(2){
          width: 80%;
          font-size: 20px;
          display: inline-block;
          border: none;
          &::after{
            content: '';
            display: block;
            height: 1px;
            background-color: #cccccc;
            -webkit-transform: scaleY(.5);
            transform:scaleY(.5);
          }
          &:focus{
            outline: none;
          }
        }
        &:nth-child(1){
          
        }
        &:nth-child(2){
          margin-top: 40px;
        }

      }
      button{
        margin-top: 60px;
        display: inline-block;
        background: #4f90f9;
        color: white;
        vertical-align: top;
        width: 80%;
        height: 40px;
        border: none;
        font-size: 16px;
        &:focus{
          outline: none;
        }
      }

    }
  }
}