#tabbar{
  display: flex;
  background: white;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ededed;
  .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    span{
      margin-top: 5px;
      font-size: 13px;
      &.active{
        color: #b22d30;
      }
    }
  }
}