@import "../../../common/theme";
.categoryListWraper{
  height: calc(100vh - 50px);
  border-right: 1px solid #f2f2f6;
  width: 30%;
  position: fixed;
  left: 0;
  top: 0;
}
.categoryListWraper ul #categoryLine{
  width: 2px;
  background: $main_color;
  height: 40px;
  position: absolute;
  left: 0;
  top: 10px;
}
.categoryListWraper ul{
  margin-top: 10px;
}
.categoryListWraper ul li{
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}
.categoryListWraper ul li.active{
  color: $main_color;
}