#homemenuWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: relative;
  border-bottom: 10px solid #f5f5f9;
  .menuItem{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    >img{
      width: 30px;
    }
    >label{
      font-weight: 300;
      font-size: 13px;
      margin-top: 5px;
    }

  }
}