@mixin center(){
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes circleAnimation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
#dialogWrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  @include center;
  >.dialog{
    @include center;
    width: 110px;
    height: 110px;
    margin-top: -20px;
    background: rgba(0,0,0,.6);
    color: #ededed;
    border-radius: 6px;
    flex-direction: column;
    >i{
      animation: circleAnimation 1s linear infinite;
      font-size: 25px;
      margin-bottom: 10px;
    }
    >label{
      margin-top: 10px;
    }
  }
}