@import "../../../common/theme";
.categoryContent{
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  float: right;
}
.categoryContent > img{
  width: 100%;
}
.categoryContent > label{
  line-height: 35px;
  color: $main_color;
  font-size: 14px;
  font-weight: 400;
}
.categoryContent section{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
}
.categoryContent section > .categoryContent-item{
  width: 50%;
  height: 100px;
  background: #000;
}